@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Cormorant Garamond',
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #43C6AC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F8FFAE, #43C6AC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F8FFAE, #43C6AC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black
}

h1,h2 {
  margin: 2rem;
  font-weight: bolder;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
