#content {
    background-color: #ffffff34;
    width: 50%;
    border-radius: 10px;
    margin: auto;
    margin-top: 80px;
    padding: 30px 20px;
    text-align: center;
}

input[type="text"], input[type="number"] {
    margin-bottom: 15px;
    padding: 8px;
    margin-left: 5px;
}

.button {
    width: 15rem;
    font-size: 1.2rem;
    max-width: 15rem;
    background-color: blueviolet;
    color: white;
    margin-bottom: 15px;
}